body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.product-container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 500px;
}

.product-container{
    @media (max-width: 375px) {
        flex-direction: column;
    }

}

.product-img-div {
    flex: 1;

}

.product-img {
    width: 100%;
    height: 100%;
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-info-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.price-div {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 99, 0);
    width: 90%;
    height: 10%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.cart-button {
    color: white;
    width: 75%;
    border: none;
    font-size: 20px;
    background-color: transparent;
    font-weight: 700;
}

.cart-img {
    height: 50%;
}